body,html{
    height: 98vh;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
}

*{
    font-family: "Roboto", sans-serif;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    width: 30%;
    height: 60%;
    border-radius: .5em;
}

.titulo{
    color: #E85B81;
    font-size: 2em;
    padding-top: 1em;
}

.main{
    width: 65%;
}

.main div{
    display: flex;
    flex-direction: column;
    margin-top: .5em;
}

.h1{
    color: #777;
    font-size: 1.3em;
}


.main div input{
    padding: 1.2em;
    border-radius: .5em;
    border: 1px solid #E85B81;
}

.btn{
    cursor: pointer;
    margin-top: 2em;
    border: none;
    padding: 1.2em;
    border-radius: .5em;
    color: #fff;
    background-color: #E85B81;
    font-size: 1em;
}

.div_result{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E85B81;
    margin-top: 2em;
    padding-bottom: 2em;
    width: 60%;

}